# Environment variables
.env

# Database
db.sqlite3

# Virtual environment
venv/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
media/
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db