# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env

# Django
venv/
__pycache__/
*.pyc
db.sqlite3

# React
node_modules/
dist/
dist-ssr/

# Local files
*.local

# VS Code
.vscode/*
!.vscode/extensions.json

# IDEs
.idea

# OS files
.DS_Store

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?